@charset "utf-8";
/* CSS Document */

html,body {	
	margin:0px;
	height:100%;
	overflow: hidden;
	/*background-color:#CCC;*/
	font-family:'Ubuntu',Trebuchet, Arial, Helvetica, sans-serif;
}


	.Contenedor {
	position: absolute;
	width: 92%;
	height: 60%;
	left: 0.600in;
	top: 207px;
	overflow: automatico;
	/*background-color:#FFF;*/
	
}

#inferior {
	position: absolute;	
	top: 670px;
	visibility: inherit;
	left:600px;
	font-style:oblique;
	color:#999;	
}

.info{
	color:#090;
	
}
